ClaimsEnumaratorClient/Service References/ClaimsEnumeratorSVC/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ClaimsEnumeratorService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClaimsEnumeratorService" />
  <xs:element name="EnumerateMyClaims">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateMyClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClaimsEnumeratorService" minOccurs="0" name="EnumerateMyClaimsResult" nillable="true" type="q1:ArrayOfClaimItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>